h1 {
    color:blue;    
}
h2{
    color: rgb(253, 103, 4);
}
p {
    color:darkorange;
    }
.menu{
    display: flex;
    justify-content: space-between;    
}
.grid{
    display: flex;
    flex-wrap: wrap;   
}

.origami {
    justify-content: center;
    border-radius: 10px;
    border: solid;
    width:310px;    
}
